<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.ac.cput.libapp.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_search_for_book" >
        </activity>
        <activity
            android:name=".view.Reservation"
            android:label="@string/title_activity_reservation" >
        </activity>
        <activity
            android:name=".view.AddBookActivity"
            android:label="@string/title_activity_add_book" >
        </activity>
        <activity
            android:name=".view.SearchForBook"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".view.BookList"
            android:label="@string/title_activity_book_list" >
        </activity>
        <activity
            android:name=".view.LoanList"
            android:label="@string/title_activity_loan_list" >
        </activity>
        <activity
            android:name=".view.BookDetails"
            android:label="@string/title_activity_book_details" >
        </activity>
        <activity
            android:name=".view.LoanDetails"
            android:label="@string/title_activity_loan_details" >
        </activity>
    </application>

</manifest>
